@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  } */

/* Untuk semua browser */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  -ms-overflow-style: none;  /* IE dan Edge */
  scrollbar-width: none;  /* Firefox */
}

.ss{
    box-shadow: 0px -19px 20px 9px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -19px 20px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -19px 20px 9px rgba(0,0,0,0.75);
}